.fade {
  opacity: 0;
  transform: translateY(1vh);
  visibility: hidden;
  transition:
    opacity 1.2s ease-out,
    transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.left {
  position: relative;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition:
    transform 1.2s ease,
    opacity 1.2s ease;
  overflow-x: hidden;
}

.left.is-visible {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.right {
  position: relative;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition:
    transform 1.2s ease,
    opacity 1.2s ease;
  overflow-x: hidden;
}

.right.is-visible {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
